<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiui {{pageTitle}}</title>
</head>
<body>
    {{> header}}

    <p>Here you get some about!</p>

    {{> footer}}
</body>
</html>